body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, black, white);
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  overflow: hidden;
}

body .container {
  font-family: "Poppins";
  scale: 1;
  color: #fcfffd;
  text-shadow: 0 0 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body .container h1 {
  font-weight: lighter;
  display: block;
}
body .main-div {
  position: relative;
  width: 80vmin;
  scale: 1.5;
  height: 100px;
  transform-style: preserve-3d;
  display: flex;
}
body .main-div .blend {
  width: 0.8vmin;
  transform-style: preserve-3d;
  background: linear-gradient(#000, #fff);
  animation: dna 5s linear var(--animation-delay) infinite alternate;
}
body .main-div .blend::before {
  content: "";
  position: absolute;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, white, black, black);
  background-size: 80vmin 100%;
  background-repeat: no-repeat;
}
@keyframes dna {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
body .main-div .blend:nth-child(1) {
  --animation-delay: calc(1 * .05s);
}
body .main-div .blend:nth-child(1)::before {
  background-position-x: calc(1 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(2) {
  --animation-delay: calc(2 * .05s);
}
body .main-div .blend:nth-child(2)::before {
  background-position-x: calc(2 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(3) {
  --animation-delay: calc(3 * .05s);
}
body .main-div .blend:nth-child(3)::before {
  background-position-x: calc(3 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(4) {
  --animation-delay: calc(4 * .05s);
}
body .main-div .blend:nth-child(4)::before {
  background-position-x: calc(4 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(5) {
  --animation-delay: calc(5 * .05s);
}
body .main-div .blend:nth-child(5)::before {
  background-position-x: calc(5 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(6) {
  --animation-delay: calc(6 * .05s);
}
body .main-div .blend:nth-child(6)::before {
  background-position-x: calc(6 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(7) {
  --animation-delay: calc(7 * .05s);
}
body .main-div .blend:nth-child(7)::before {
  background-position-x: calc(7 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(8) {
  --animation-delay: calc(8 * .05s);
}
body .main-div .blend:nth-child(8)::before {
  background-position-x: calc(8 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(9) {
  --animation-delay: calc(9 * .05s);
}
body .main-div .blend:nth-child(9)::before {
  background-position-x: calc(9 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(10) {
  --animation-delay: calc(10 * .05s);
}
body .main-div .blend:nth-child(10)::before {
  background-position-x: calc(10 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(11) {
  --animation-delay: calc(11 * .05s);
}
body .main-div .blend:nth-child(11)::before {
  background-position-x: calc(11 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(12) {
  --animation-delay: calc(12 * .05s);
}
body .main-div .blend:nth-child(12)::before {
  background-position-x: calc(12 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(13) {
  --animation-delay: calc(13 * .05s);
}
body .main-div .blend:nth-child(13)::before {
  background-position-x: calc(13 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(14) {
  --animation-delay: calc(14 * .05s);
}
body .main-div .blend:nth-child(14)::before {
  background-position-x: calc(14 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(15) {
  --animation-delay: calc(15 * .05s);
}
body .main-div .blend:nth-child(15)::before {
  background-position-x: calc(15 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(16) {
  --animation-delay: calc(16 * .05s);
}
body .main-div .blend:nth-child(16)::before {
  background-position-x: calc(16 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(17) {
  --animation-delay: calc(17 * .05s);
}
body .main-div .blend:nth-child(17)::before {
  background-position-x: calc(17 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(18) {
  --animation-delay: calc(18 * .05s);
}
body .main-div .blend:nth-child(18)::before {
  background-position-x: calc(18 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(19) {
  --animation-delay: calc(19 * .05s);
}
body .main-div .blend:nth-child(19)::before {
  background-position-x: calc(19 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(20) {
  --animation-delay: calc(20 * .05s);
}
body .main-div .blend:nth-child(20)::before {
  background-position-x: calc(20 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(21) {
  --animation-delay: calc(21 * .05s);
}
body .main-div .blend:nth-child(21)::before {
  background-position-x: calc(21 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(22) {
  --animation-delay: calc(22 * .05s);
}
body .main-div .blend:nth-child(22)::before {
  background-position-x: calc(22 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(23) {
  --animation-delay: calc(23 * .05s);
}
body .main-div .blend:nth-child(23)::before {
  background-position-x: calc(23 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(24) {
  --animation-delay: calc(24 * .05s);
}
body .main-div .blend:nth-child(24)::before {
  background-position-x: calc(24 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(25) {
  --animation-delay: calc(25 * .05s);
}
body .main-div .blend:nth-child(25)::before {
  background-position-x: calc(25 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(26) {
  --animation-delay: calc(26 * .05s);
}
body .main-div .blend:nth-child(26)::before {
  background-position-x: calc(26 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(27) {
  --animation-delay: calc(27 * .05s);
}
body .main-div .blend:nth-child(27)::before {
  background-position-x: calc(27 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(28) {
  --animation-delay: calc(28 * .05s);
}
body .main-div .blend:nth-child(28)::before {
  background-position-x: calc(28 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(29) {
  --animation-delay: calc(29 * .05s);
}
body .main-div .blend:nth-child(29)::before {
  background-position-x: calc(29 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(30) {
  --animation-delay: calc(30 * .05s);
}
body .main-div .blend:nth-child(30)::before {
  background-position-x: calc(30 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(31) {
  --animation-delay: calc(31 * .05s);
}
body .main-div .blend:nth-child(31)::before {
  background-position-x: calc(31 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(32) {
  --animation-delay: calc(32 * .05s);
}
body .main-div .blend:nth-child(32)::before {
  background-position-x: calc(32 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(33) {
  --animation-delay: calc(33 * .05s);
}
body .main-div .blend:nth-child(33)::before {
  background-position-x: calc(33 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(34) {
  --animation-delay: calc(34 * .05s);
}
body .main-div .blend:nth-child(34)::before {
  background-position-x: calc(34 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(35) {
  --animation-delay: calc(35 * .05s);
}
body .main-div .blend:nth-child(35)::before {
  background-position-x: calc(35 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(36) {
  --animation-delay: calc(36 * .05s);
}
body .main-div .blend:nth-child(36)::before {
  background-position-x: calc(36 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(37) {
  --animation-delay: calc(37 * .05s);
}
body .main-div .blend:nth-child(37)::before {
  background-position-x: calc(37 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(38) {
  --animation-delay: calc(38 * .05s);
}
body .main-div .blend:nth-child(38)::before {
  background-position-x: calc(38 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(39) {
  --animation-delay: calc(39 * .05s);
}
body .main-div .blend:nth-child(39)::before {
  background-position-x: calc(39 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(40) {
  --animation-delay: calc(40 * .05s);
}
body .main-div .blend:nth-child(40)::before {
  background-position-x: calc(40 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(41) {
  --animation-delay: calc(41 * .05s);
}
body .main-div .blend:nth-child(41)::before {
  background-position-x: calc(41 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(42) {
  --animation-delay: calc(42 * .05s);
}
body .main-div .blend:nth-child(42)::before {
  background-position-x: calc(42 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(43) {
  --animation-delay: calc(43 * .05s);
}
body .main-div .blend:nth-child(43)::before {
  background-position-x: calc(43 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(44) {
  --animation-delay: calc(44 * .05s);
}
body .main-div .blend:nth-child(44)::before {
  background-position-x: calc(44 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(45) {
  --animation-delay: calc(45 * .05s);
}
body .main-div .blend:nth-child(45)::before {
  background-position-x: calc(45 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(46) {
  --animation-delay: calc(46 * .05s);
}
body .main-div .blend:nth-child(46)::before {
  background-position-x: calc(46 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(47) {
  --animation-delay: calc(47 * .05s);
}
body .main-div .blend:nth-child(47)::before {
  background-position-x: calc(47 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(48) {
  --animation-delay: calc(48 * .05s);
}
body .main-div .blend:nth-child(48)::before {
  background-position-x: calc(48 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(49) {
  --animation-delay: calc(49 * .05s);
}
body .main-div .blend:nth-child(49)::before {
  background-position-x: calc(49 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(50) {
  --animation-delay: calc(50 * .05s);
}
body .main-div .blend:nth-child(50)::before {
  background-position-x: calc(50 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(51) {
  --animation-delay: calc(51 * .05s);
}
body .main-div .blend:nth-child(51)::before {
  background-position-x: calc(51 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(52) {
  --animation-delay: calc(52 * .05s);
}
body .main-div .blend:nth-child(52)::before {
  background-position-x: calc(52 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(53) {
  --animation-delay: calc(53 * .05s);
}
body .main-div .blend:nth-child(53)::before {
  background-position-x: calc(53 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(54) {
  --animation-delay: calc(54 * .05s);
}
body .main-div .blend:nth-child(54)::before {
  background-position-x: calc(54 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(55) {
  --animation-delay: calc(55 * .05s);
}
body .main-div .blend:nth-child(55)::before {
  background-position-x: calc(55 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(56) {
  --animation-delay: calc(56 * .05s);
}
body .main-div .blend:nth-child(56)::before {
  background-position-x: calc(56 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(57) {
  --animation-delay: calc(57 * .05s);
}
body .main-div .blend:nth-child(57)::before {
  background-position-x: calc(57 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(58) {
  --animation-delay: calc(58 * .05s);
}
body .main-div .blend:nth-child(58)::before {
  background-position-x: calc(58 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(59) {
  --animation-delay: calc(59 * .05s);
}
body .main-div .blend:nth-child(59)::before {
  background-position-x: calc(59 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(60) {
  --animation-delay: calc(60 * .05s);
}
body .main-div .blend:nth-child(60)::before {
  background-position-x: calc(60 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(61) {
  --animation-delay: calc(61 * .05s);
}
body .main-div .blend:nth-child(61)::before {
  background-position-x: calc(61 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(62) {
  --animation-delay: calc(62 * .05s);
}
body .main-div .blend:nth-child(62)::before {
  background-position-x: calc(62 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(63) {
  --animation-delay: calc(63 * .05s);
}
body .main-div .blend:nth-child(63)::before {
  background-position-x: calc(63 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(64) {
  --animation-delay: calc(64 * .05s);
}
body .main-div .blend:nth-child(64)::before {
  background-position-x: calc(64 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(65) {
  --animation-delay: calc(65 * .05s);
}
body .main-div .blend:nth-child(65)::before {
  background-position-x: calc(65 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(66) {
  --animation-delay: calc(66 * .05s);
}
body .main-div .blend:nth-child(66)::before {
  background-position-x: calc(66 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(67) {
  --animation-delay: calc(67 * .05s);
}
body .main-div .blend:nth-child(67)::before {
  background-position-x: calc(67 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(68) {
  --animation-delay: calc(68 * .05s);
}
body .main-div .blend:nth-child(68)::before {
  background-position-x: calc(68 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(69) {
  --animation-delay: calc(69 * .05s);
}
body .main-div .blend:nth-child(69)::before {
  background-position-x: calc(69 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(70) {
  --animation-delay: calc(70 * .05s);
}
body .main-div .blend:nth-child(70)::before {
  background-position-x: calc(70 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(71) {
  --animation-delay: calc(71 * .05s);
}
body .main-div .blend:nth-child(71)::before {
  background-position-x: calc(71 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(72) {
  --animation-delay: calc(72 * .05s);
}
body .main-div .blend:nth-child(72)::before {
  background-position-x: calc(72 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(73) {
  --animation-delay: calc(73 * .05s);
}
body .main-div .blend:nth-child(73)::before {
  background-position-x: calc(73 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(74) {
  --animation-delay: calc(74 * .05s);
}
body .main-div .blend:nth-child(74)::before {
  background-position-x: calc(74 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(75) {
  --animation-delay: calc(75 * .05s);
}
body .main-div .blend:nth-child(75)::before {
  background-position-x: calc(75 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(76) {
  --animation-delay: calc(76 * .05s);
}
body .main-div .blend:nth-child(76)::before {
  background-position-x: calc(76 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(77) {
  --animation-delay: calc(77 * .05s);
}
body .main-div .blend:nth-child(77)::before {
  background-position-x: calc(77 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(78) {
  --animation-delay: calc(78 * .05s);
}
body .main-div .blend:nth-child(78)::before {
  background-position-x: calc(78 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(79) {
  --animation-delay: calc(79 * .05s);
}
body .main-div .blend:nth-child(79)::before {
  background-position-x: calc(79 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(80) {
  --animation-delay: calc(80 * .05s);
}
body .main-div .blend:nth-child(80)::before {
  background-position-x: calc(80 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(81) {
  --animation-delay: calc(81 * .05s);
}
body .main-div .blend:nth-child(81)::before {
  background-position-x: calc(81 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(82) {
  --animation-delay: calc(82 * .05s);
}
body .main-div .blend:nth-child(82)::before {
  background-position-x: calc(82 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(83) {
  --animation-delay: calc(83 * .05s);
}
body .main-div .blend:nth-child(83)::before {
  background-position-x: calc(83 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(84) {
  --animation-delay: calc(84 * .05s);
}
body .main-div .blend:nth-child(84)::before {
  background-position-x: calc(84 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(85) {
  --animation-delay: calc(85 * .05s);
}
body .main-div .blend:nth-child(85)::before {
  background-position-x: calc(85 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(86) {
  --animation-delay: calc(86 * .05s);
}
body .main-div .blend:nth-child(86)::before {
  background-position-x: calc(86 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(87) {
  --animation-delay: calc(87 * .05s);
}
body .main-div .blend:nth-child(87)::before {
  background-position-x: calc(87 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(88) {
  --animation-delay: calc(88 * .05s);
}
body .main-div .blend:nth-child(88)::before {
  background-position-x: calc(88 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(89) {
  --animation-delay: calc(89 * .05s);
}
body .main-div .blend:nth-child(89)::before {
  background-position-x: calc(89 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(90) {
  --animation-delay: calc(90 * .05s);
}
body .main-div .blend:nth-child(90)::before {
  background-position-x: calc(90 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(91) {
  --animation-delay: calc(91 * .05s);
}
body .main-div .blend:nth-child(91)::before {
  background-position-x: calc(91 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(92) {
  --animation-delay: calc(92 * .05s);
}
body .main-div .blend:nth-child(92)::before {
  background-position-x: calc(92 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(93) {
  --animation-delay: calc(93 * .05s);
}
body .main-div .blend:nth-child(93)::before {
  background-position-x: calc(93 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(94) {
  --animation-delay: calc(94 * .05s);
}
body .main-div .blend:nth-child(94)::before {
  background-position-x: calc(94 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(95) {
  --animation-delay: calc(95 * .05s);
}
body .main-div .blend:nth-child(95)::before {
  background-position-x: calc(95 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(96) {
  --animation-delay: calc(96 * .05s);
}
body .main-div .blend:nth-child(96)::before {
  background-position-x: calc(96 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(97) {
  --animation-delay: calc(97 * .05s);
}
body .main-div .blend:nth-child(97)::before {
  background-position-x: calc(97 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(98) {
  --animation-delay: calc(98 * .05s);
}
body .main-div .blend:nth-child(98)::before {
  background-position-x: calc(98 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(99) {
  --animation-delay: calc(99 * .05s);
}
body .main-div .blend:nth-child(99)::before {
  background-position-x: calc(99 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(100) {
  --animation-delay: calc(100 * .05s);
}
body .main-div .blend:nth-child(100)::before {
  background-position-x: calc(100 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(101) {
  --animation-delay: calc(101 * .05s);
}
body .main-div .blend:nth-child(101)::before {
  background-position-x: calc(101 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(102) {
  --animation-delay: calc(102 * .05s);
}
body .main-div .blend:nth-child(102)::before {
  background-position-x: calc(102 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(103) {
  --animation-delay: calc(103 * .05s);
}
body .main-div .blend:nth-child(103)::before {
  background-position-x: calc(103 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(104) {
  --animation-delay: calc(104 * .05s);
}
body .main-div .blend:nth-child(104)::before {
  background-position-x: calc(104 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(105) {
  --animation-delay: calc(105 * .05s);
}
body .main-div .blend:nth-child(105)::before {
  background-position-x: calc(105 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(106) {
  --animation-delay: calc(106 * .05s);
}
body .main-div .blend:nth-child(106)::before {
  background-position-x: calc(106 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(107) {
  --animation-delay: calc(107 * .05s);
}
body .main-div .blend:nth-child(107)::before {
  background-position-x: calc(107 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(108) {
  --animation-delay: calc(108 * .05s);
}
body .main-div .blend:nth-child(108)::before {
  background-position-x: calc(108 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(109) {
  --animation-delay: calc(109 * .05s);
}
body .main-div .blend:nth-child(109)::before {
  background-position-x: calc(109 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(110) {
  --animation-delay: calc(110 * .05s);
}
body .main-div .blend:nth-child(110)::before {
  background-position-x: calc(110 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(111) {
  --animation-delay: calc(111 * .05s);
}
body .main-div .blend:nth-child(111)::before {
  background-position-x: calc(111 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(112) {
  --animation-delay: calc(112 * .05s);
}
body .main-div .blend:nth-child(112)::before {
  background-position-x: calc(112 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(113) {
  --animation-delay: calc(113 * .05s);
}
body .main-div .blend:nth-child(113)::before {
  background-position-x: calc(113 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(114) {
  --animation-delay: calc(114 * .05s);
}
body .main-div .blend:nth-child(114)::before {
  background-position-x: calc(114 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(115) {
  --animation-delay: calc(115 * .05s);
}
body .main-div .blend:nth-child(115)::before {
  background-position-x: calc(115 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(116) {
  --animation-delay: calc(116 * .05s);
}
body .main-div .blend:nth-child(116)::before {
  background-position-x: calc(116 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(117) {
  --animation-delay: calc(117 * .05s);
}
body .main-div .blend:nth-child(117)::before {
  background-position-x: calc(117 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(118) {
  --animation-delay: calc(118 * .05s);
}
body .main-div .blend:nth-child(118)::before {
  background-position-x: calc(118 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(119) {
  --animation-delay: calc(119 * .05s);
}
body .main-div .blend:nth-child(119)::before {
  background-position-x: calc(119 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(120) {
  --animation-delay: calc(120 * .05s);
}
body .main-div .blend:nth-child(120)::before {
  background-position-x: calc(120 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(121) {
  --animation-delay: calc(121 * .05s);
}
body .main-div .blend:nth-child(121)::before {
  background-position-x: calc(121 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(122) {
  --animation-delay: calc(122 * .05s);
}
body .main-div .blend:nth-child(122)::before {
  background-position-x: calc(122 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(123) {
  --animation-delay: calc(123 * .05s);
}
body .main-div .blend:nth-child(123)::before {
  background-position-x: calc(123 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(124) {
  --animation-delay: calc(124 * .05s);
}
body .main-div .blend:nth-child(124)::before {
  background-position-x: calc(124 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(125) {
  --animation-delay: calc(125 * .05s);
}
body .main-div .blend:nth-child(125)::before {
  background-position-x: calc(125 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(126) {
  --animation-delay: calc(126 * .05s);
}
body .main-div .blend:nth-child(126)::before {
  background-position-x: calc(126 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(127) {
  --animation-delay: calc(127 * .05s);
}
body .main-div .blend:nth-child(127)::before {
  background-position-x: calc(127 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(128) {
  --animation-delay: calc(128 * .05s);
}
body .main-div .blend:nth-child(128)::before {
  background-position-x: calc(128 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(129) {
  --animation-delay: calc(129 * .05s);
}
body .main-div .blend:nth-child(129)::before {
  background-position-x: calc(129 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(130) {
  --animation-delay: calc(130 * .05s);
}
body .main-div .blend:nth-child(130)::before {
  background-position-x: calc(130 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(131) {
  --animation-delay: calc(131 * .05s);
}
body .main-div .blend:nth-child(131)::before {
  background-position-x: calc(131 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(132) {
  --animation-delay: calc(132 * .05s);
}
body .main-div .blend:nth-child(132)::before {
  background-position-x: calc(132 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(133) {
  --animation-delay: calc(133 * .05s);
}
body .main-div .blend:nth-child(133)::before {
  background-position-x: calc(133 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(134) {
  --animation-delay: calc(134 * .05s);
}
body .main-div .blend:nth-child(134)::before {
  background-position-x: calc(134 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(135) {
  --animation-delay: calc(135 * .05s);
}
body .main-div .blend:nth-child(135)::before {
  background-position-x: calc(135 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(136) {
  --animation-delay: calc(136 * .05s);
}
body .main-div .blend:nth-child(136)::before {
  background-position-x: calc(136 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(137) {
  --animation-delay: calc(137 * .05s);
}
body .main-div .blend:nth-child(137)::before {
  background-position-x: calc(137 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(138) {
  --animation-delay: calc(138 * .05s);
}
body .main-div .blend:nth-child(138)::before {
  background-position-x: calc(138 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(139) {
  --animation-delay: calc(139 * .05s);
}
body .main-div .blend:nth-child(139)::before {
  background-position-x: calc(139 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(140) {
  --animation-delay: calc(140 * .05s);
}
body .main-div .blend:nth-child(140)::before {
  background-position-x: calc(140 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(141) {
  --animation-delay: calc(141 * .05s);
}
body .main-div .blend:nth-child(141)::before {
  background-position-x: calc(141 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(142) {
  --animation-delay: calc(142 * .05s);
}
body .main-div .blend:nth-child(142)::before {
  background-position-x: calc(142 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(143) {
  --animation-delay: calc(143 * .05s);
}
body .main-div .blend:nth-child(143)::before {
  background-position-x: calc(143 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(144) {
  --animation-delay: calc(144 * .05s);
}
body .main-div .blend:nth-child(144)::before {
  background-position-x: calc(144 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(145) {
  --animation-delay: calc(145 * .05s);
}
body .main-div .blend:nth-child(145)::before {
  background-position-x: calc(145 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(146) {
  --animation-delay: calc(146 * .05s);
}
body .main-div .blend:nth-child(146)::before {
  background-position-x: calc(146 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(147) {
  --animation-delay: calc(147 * .05s);
}
body .main-div .blend:nth-child(147)::before {
  background-position-x: calc(147 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(148) {
  --animation-delay: calc(148 * .05s);
}
body .main-div .blend:nth-child(148)::before {
  background-position-x: calc(148 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(149) {
  --animation-delay: calc(149 * .05s);
}
body .main-div .blend:nth-child(149)::before {
  background-position-x: calc(149 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(150) {
  --animation-delay: calc(150 * .05s);
}
body .main-div .blend:nth-child(150)::before {
  background-position-x: calc(150 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(151) {
  --animation-delay: calc(151 * .05s);
}
body .main-div .blend:nth-child(151)::before {
  background-position-x: calc(151 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(152) {
  --animation-delay: calc(152 * .05s);
}
body .main-div .blend:nth-child(152)::before {
  background-position-x: calc(152 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(153) {
  --animation-delay: calc(153 * .05s);
}
body .main-div .blend:nth-child(153)::before {
  background-position-x: calc(153 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(154) {
  --animation-delay: calc(154 * .05s);
}
body .main-div .blend:nth-child(154)::before {
  background-position-x: calc(154 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(155) {
  --animation-delay: calc(155 * .05s);
}
body .main-div .blend:nth-child(155)::before {
  background-position-x: calc(155 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(156) {
  --animation-delay: calc(156 * .05s);
}
body .main-div .blend:nth-child(156)::before {
  background-position-x: calc(156 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(157) {
  --animation-delay: calc(157 * .05s);
}
body .main-div .blend:nth-child(157)::before {
  background-position-x: calc(157 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(158) {
  --animation-delay: calc(158 * .05s);
}
body .main-div .blend:nth-child(158)::before {
  background-position-x: calc(158 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(159) {
  --animation-delay: calc(159 * .05s);
}
body .main-div .blend:nth-child(159)::before {
  background-position-x: calc(159 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(160) {
  --animation-delay: calc(160 * .05s);
}
body .main-div .blend:nth-child(160)::before {
  background-position-x: calc(160 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(161) {
  --animation-delay: calc(161 * .05s);
}
body .main-div .blend:nth-child(161)::before {
  background-position-x: calc(161 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(162) {
  --animation-delay: calc(162 * .05s);
}
body .main-div .blend:nth-child(162)::before {
  background-position-x: calc(162 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(163) {
  --animation-delay: calc(163 * .05s);
}
body .main-div .blend:nth-child(163)::before {
  background-position-x: calc(163 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(164) {
  --animation-delay: calc(164 * .05s);
}
body .main-div .blend:nth-child(164)::before {
  background-position-x: calc(164 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(165) {
  --animation-delay: calc(165 * .05s);
}
body .main-div .blend:nth-child(165)::before {
  background-position-x: calc(165 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(166) {
  --animation-delay: calc(166 * .05s);
}
body .main-div .blend:nth-child(166)::before {
  background-position-x: calc(166 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(167) {
  --animation-delay: calc(167 * .05s);
}
body .main-div .blend:nth-child(167)::before {
  background-position-x: calc(167 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(168) {
  --animation-delay: calc(168 * .05s);
}
body .main-div .blend:nth-child(168)::before {
  background-position-x: calc(168 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(169) {
  --animation-delay: calc(169 * .05s);
}
body .main-div .blend:nth-child(169)::before {
  background-position-x: calc(169 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(170) {
  --animation-delay: calc(170 * .05s);
}
body .main-div .blend:nth-child(170)::before {
  background-position-x: calc(170 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(171) {
  --animation-delay: calc(171 * .05s);
}
body .main-div .blend:nth-child(171)::before {
  background-position-x: calc(171 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(172) {
  --animation-delay: calc(172 * .05s);
}
body .main-div .blend:nth-child(172)::before {
  background-position-x: calc(172 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(173) {
  --animation-delay: calc(173 * .05s);
}
body .main-div .blend:nth-child(173)::before {
  background-position-x: calc(173 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(174) {
  --animation-delay: calc(174 * .05s);
}
body .main-div .blend:nth-child(174)::before {
  background-position-x: calc(174 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(175) {
  --animation-delay: calc(175 * .05s);
}
body .main-div .blend:nth-child(175)::before {
  background-position-x: calc(175 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(176) {
  --animation-delay: calc(176 * .05s);
}
body .main-div .blend:nth-child(176)::before {
  background-position-x: calc(176 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(177) {
  --animation-delay: calc(177 * .05s);
}
body .main-div .blend:nth-child(177)::before {
  background-position-x: calc(177 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(178) {
  --animation-delay: calc(178 * .05s);
}
body .main-div .blend:nth-child(178)::before {
  background-position-x: calc(178 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(179) {
  --animation-delay: calc(179 * .05s);
}
body .main-div .blend:nth-child(179)::before {
  background-position-x: calc(179 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(180) {
  --animation-delay: calc(180 * .05s);
}
body .main-div .blend:nth-child(180)::before {
  background-position-x: calc(180 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(181) {
  --animation-delay: calc(181 * .05s);
}
body .main-div .blend:nth-child(181)::before {
  background-position-x: calc(181 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(182) {
  --animation-delay: calc(182 * .05s);
}
body .main-div .blend:nth-child(182)::before {
  background-position-x: calc(182 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(183) {
  --animation-delay: calc(183 * .05s);
}
body .main-div .blend:nth-child(183)::before {
  background-position-x: calc(183 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(184) {
  --animation-delay: calc(184 * .05s);
}
body .main-div .blend:nth-child(184)::before {
  background-position-x: calc(184 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(185) {
  --animation-delay: calc(185 * .05s);
}
body .main-div .blend:nth-child(185)::before {
  background-position-x: calc(185 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(186) {
  --animation-delay: calc(186 * .05s);
}
body .main-div .blend:nth-child(186)::before {
  background-position-x: calc(186 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(187) {
  --animation-delay: calc(187 * .05s);
}
body .main-div .blend:nth-child(187)::before {
  background-position-x: calc(187 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(188) {
  --animation-delay: calc(188 * .05s);
}
body .main-div .blend:nth-child(188)::before {
  background-position-x: calc(188 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(189) {
  --animation-delay: calc(189 * .05s);
}
body .main-div .blend:nth-child(189)::before {
  background-position-x: calc(189 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(190) {
  --animation-delay: calc(190 * .05s);
}
body .main-div .blend:nth-child(190)::before {
  background-position-x: calc(190 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(191) {
  --animation-delay: calc(191 * .05s);
}
body .main-div .blend:nth-child(191)::before {
  background-position-x: calc(191 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(192) {
  --animation-delay: calc(192 * .05s);
}
body .main-div .blend:nth-child(192)::before {
  background-position-x: calc(192 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(193) {
  --animation-delay: calc(193 * .05s);
}
body .main-div .blend:nth-child(193)::before {
  background-position-x: calc(193 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(194) {
  --animation-delay: calc(194 * .05s);
}
body .main-div .blend:nth-child(194)::before {
  background-position-x: calc(194 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(195) {
  --animation-delay: calc(195 * .05s);
}
body .main-div .blend:nth-child(195)::before {
  background-position-x: calc(195 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(196) {
  --animation-delay: calc(196 * .05s);
}
body .main-div .blend:nth-child(196)::before {
  background-position-x: calc(196 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(197) {
  --animation-delay: calc(197 * .05s);
}
body .main-div .blend:nth-child(197)::before {
  background-position-x: calc(197 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(198) {
  --animation-delay: calc(198 * .05s);
}
body .main-div .blend:nth-child(198)::before {
  background-position-x: calc(198 * 0.5%);
  background-position-y: 60%;
}
body .main-div .blend:nth-child(199) {
  --animation-delay: calc(199 * .05s);
}
body .main-div .blend:nth-child(199)::before {
  background-position-x: calc(199 * 0.5%);
  background-position-y: 60%;
}/*# sourceMappingURL=style.css.map */